@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --body-color: #fffefe;
    --primary-color: #061e34;
    --primary-color-hover: #ffae00ce;
    --secondary-color: #161326;
    --card-color: #ffff;
    --card-hover: #1b1731;
    --navbar-color: var(--card-color);

    /* Text Colors */
    --text-color: #061e34;
    --text-color-secondary: #6d747d;
    --text-color-opacity: #061e34c0;
    --text-color-muted: #6c757d;
    --text-color-dark: rgb(10, 10, 10);
    --text-color-white: #FEFEFF;

    --sidebar-color: #131b2f;
    --sidebar-color-opacity: #25304a;

    --bg-blue: #0d6ffc;
    --bg-soft-blue: #f1f5fb;
    --bg-success: #188754;
    --bg-warning: #ffc106;
    --bg-success-opacity: rgba(0, 128, 0, 0.1);
    --bg-warning-opacity: rgba(255, 215, 0, 0.18);
    
    /* Transisi */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /* Radius */
    --radius-05: 5px;
    --radius-10: 10px;
    --radius-20: 20px;
    --radius-50: 50px;
    --radius-100: 100px;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-soft-blue);
}

a {
    text-decoration: none;
}
input,
select,
textarea {
    box-shadow: none !important;
}

.bg-color {
    background-color: var(--body-color);
}
.text-color {
    color: var(--text-color);
}
.text-secondary {
    color: var(--text-color-opacity);
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.rounded {
    border-radius: var(--radius-10) !important;
}
.rounded-20 {
    border-radius: var(--radius-20) !important;
}

.fs-7,
.badge span {
    font-size: clamp(10px, 2vw, 12px) !important;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#loading-screen {
    background-color: var(--body-color);
}
#loading-screen.fade-out {
    animation: fadeOut 1s ease-in-out;
    opacity: 0;
    pointer-events: none;
    transition: var(--tran-02);
}


/* Card */
.card {
    background-color: var(--card-color);
    color: var(--text-color);
    border-radius: var(--radius-20);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: var(--tran-03);
}


/* Toasts */
.toast {
    animation: fadeInOut 1s ease-in-out;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    50% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.toast.show {
    width: 400px;
    height: max-content;
    position: fixed;
    top: 95px;
    right: 0;
    padding: 5px;
    background-color: var(--navbar-color);
    display: block;
}
.toast .toast-body {
    border-radius: 0px 0px 10px 10px;
}
@media (max-width: 768px) {
    .toast.show {
        width: 100% !important;
        position: fixed;
        top: 85px;
    }
}


/* Navbar */
.navbar {
    background-color: var(--sidebar-color);
    position: sticky;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 10px 0px;
    z-index: 99;
}
.navbar .navbar-nav .nav-item .nav-link .profile-image {
    width: 35px !important;
    height: 35px !important;
    overflow: hidden;
    border-radius: var(--radius-50) !important;
    border: 1px solid var(--body-color);
}
.navbar .navbar-nav .nav-item .nav-link .profile-image img,
.navbar .profile .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar .dropdown-menu {
    background-color: var(--sidebar-color);
}
.navbar .dropdown-menu hr {
    border-color: var(--text-color-secondary);
}
.navbar .dropdown-menu .dropdown-item {
    color: var(--text-color-secondary);
}
.navbar .dropdown-menu .dropdown-item:hover {
    background-color: var(--sidebar-color-opacity);
    color: var(--text-color-white);
}
.navbar .nav-username {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (max-width: 500px) {
    .navbar .nav-username {
        display: none;
    }
}
.offcanvas {
    background-color: var(--sidebar-color);
    max-width: 300px;
    z-index: 9999 !important;
}
.modal-backdrop.fade.show {
    z-index: 1000 !important;
}
.offcanvas .offcanvas-body ul li {
    padding: 10px;
}
.offcanvas .offcanvas-body ul li a {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-size: 18px;
    padding: 0px 15px;
}
.offcanvas .offcanvas-body ul li.active {
    background-color: var(--sidebar-color-opacity);
}
.offcanvas .offcanvas-body ul li.active > * {
    color: var(--text-color-white);
}
.offcanvas .offcanvas-body ul li:hover {
    background-color: var(--sidebar-color-opacity);
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1000 !important;
}
.sidebar header #navNameBrand {
    display: flex;
    white-space: nowrap;
}
.sidebar header .toggle {
    margin-top: 235px;
}
.sidebar.close {
    width: 88px;
}
.sidebar.close header .toggle {
    transform: translateY(-50%) rotate(180deg);
}
.sidebar.close .text {
    opacity: 0;
    display: none;
    transition: var(--tran-03);
}
.sidebar .menu {
    margin-top: 35px;
}
.sidebar .nav-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-secondary);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul {
    margin-left: -32px;
}
.sidebar li {
    height: 50px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 46px;
    font-size: 20px;
    color: var(--text-color-secondary);
}
.sidebar li > * {
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px 10px 10px 1px;
    transition: var(--tran-04);
}
.sidebar li a.active,
.sidebar li a.active .icon,
.sidebar li a.active .nav-text {
    background-color: var(--sidebar-color-opacity);
    color: var(--text-color-white);
}
.sidebar li a:hover {
    background: var(--sidebar-color-opacity);
}
.sidebar .bottom-content li a:hover {
    background-color: transparent !important;
}
.sidebar header {
    position: relative;
}
.sidebar header .image-text {
    display: flex;
    align-items: center;
}
header .image-text .header-text {
    display: flex;
    flex-direction: column;
}
.header-text .name {
    font-weight: 700;
}
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: var(--sidebar-color-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color-light);
    font-size: 22px;
    transition: var(--tran-03);
}
.sidebar.closed~.dashboard {
    left: 88px;
    width: calc(100% - 88px);
    padding: 10px 15px;
}
.sidebar.closed~.navbar {
    left: 80px;
    width: calc(100% - 80px);
}



/* Dashboard */
.dashboard {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: var(--tran-05);
    padding: 10px 0px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 80px;
    }
    .sidebar.close {
        width: 0;
    }
    .dashboard {
        left: 80px;
        width: calc(100% - 80px);
    }
    .navbar {
        left: 0px !important;
        width: 100% !important;
    }
    .sidebar~.dashboard,
    .sidebar.closed~.dashboard {
        position: static;
        width: 100% !important;
        margin: 0px !important;
    }
}



/* Users */
.user .avatar,
.foto-profile {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-50);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: var(--tran-03);
    background-color: var(--card-hover);
    flex-shrink: 0;
}
.foto-profile {
    width: 100px;
    height: 100px;
}
.user .avatar img,
.foto-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#staffTable .username {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* Profile */
#profile .card.card-profile,
#profile #other-members .card {
    background-color: var(--card-color);
    color: var(--text-color);
    border-radius: var(--radius-20);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#profile .card.card-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    aspect-ratio: 1400 / 350;
}

#profile .header {
    position: relative;
    align-items: end;
    display: flex;
    top: -50px;
    left: 20px;
}
#profile .header .avatar {
    width: 120px;
    height: 120px;
    border-radius: var(--radius-100);
    overflow: hidden;
    margin-right: 10px;
    background-color: var(--card-hover);
    border: 3px solid var(--body-color);
}
#profile .header .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile .header .jobs {
    position: relative;
    top: -25px;
}
#profile .header .jobs .badge {
    border-radius: var(--radius-100);
}
#profile .card-profile .card-body {
    position: relative;
    top: -50px;
    padding-left: 35px;
    padding-right: 35px;
}
#profile .card-footer {
    background-color: var(--body-color);
    border-radius: 0 0 20px 20px;
    padding: 20px 20px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}
#profile .card-footer#social-media i {
    color: var(--text-color-opacity);
    font-size: larger;
    padding: 0;
    margin: 0;
}
#profile .card-footer#social-media i:hover {
    color: var(--bg-blue);
    transition: var(--tran-03);
}
@media (max-width: 768px) {
    #profile .header {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        top: -40px;
        left: 0;
    }
    #profile .avatar {
        width: 80px;
        height: 80px;
        margin-right: 0px;
    }
    #profile .header .jobs {
        align-self: flex-start;
        position: relative;
        margin-left: 15px;
    }
    #profile .card-profile .card-body {
        position: relative;
        top: -60px;
        left: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    #profile .card-profile .card-body a.edit-profile {
        top: -100px !important;
    }
}



/* CKeditor */
.editor-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-color: #fff;
    color: var(--text-color-dark);
    padding: 1rem;
    z-index: 9999;
    overflow: auto;
}
.editor-fullscreen .ck-editor__editable {
    height: 80svh !important;
    background-color: transparent !important;
}
.ck-balloon-panel {
    z-index: 99999 !important;
}
.ck-editor__editable {
    min-height: 200px;
    overflow-y: auto !important;
    padding: 0px 63px 20px 63px !important;
}
@media (max-width: 768px) {
    .ck-editor__editable {
        padding: 10px !important;
    }
}

figure.image {
    margin-left: auto;
	margin-right: auto;
}
figure.image img,
p > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

figure.image.image-style-align-left,
p > .image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
}
figure.image.image-style-align-right,
p > .image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}

figure.image.image-style-block-align-left {
    margin-left: 0;
	margin-right: auto;
}
figure.image.image-style-block-align-right {
    margin-right: 0;
    margin-left: auto;
}

figure.table table {
    all: revert;
    border-collapse: collapse;
    width: 100%;
}

pre {
    background-color: #eeefef;
    border: 1px solid var(--text-color);
    padding: 20px;
    border-radius: var(--border-5);
}
label.language-code {
    padding: 5px 15px;
    position: absolute;
    right: 0;
    border-radius: 0px 5px 0px 0px;
}





/* Content */
.content .thumbnail-preview {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/6;
    overflow: hidden;
    border: 3px solid var(--body-color);
}

.content .thumbnail-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}